[submodule "external/glfw"]
	path = external/glfw
	url = ssh://git@github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/wubwubcmake"]
	path = external/wubwubcmake
	url = https://github.com/NickNick/wubwubcmake.git
